@import url('https://fonts.cdnfonts.com/css/dm-sans');

body {
  font-family: 'DM Sans', sans-serif;
  color: #FFFCF2;
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #0c090d; 
}
