.shadow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -4;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

@media (max-width: 700px) {
  .shadow-overlay {
    background-color: black;
  }
}
