.case-study {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .case-study h1, .case-study h2 {
    color: #fff;
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  
  .case-study h3 {
    margin-top: 40px;
    color: #fff;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  .case-study h4 {
    margin-top: 20px;
    color: #fff;
  }
  
  .case-study p {
    color: #fff;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .case-study .background,
  .case-study .goals,
  .case-study .problem,
  .case-study .impact,
  .case-study .research,
  .case-study .pivot,
  .case-study .define,
  .case-study .ideation,
  .case-study .lo-fi-wireframes,
  .case-study .ui-kit,
  .case-study .prototype,
  .case-study .conclusion {
    margin-top: 40px;
  }
  
  .case-study .research-goals,
  .case-study .methodologies,
  .case-study .competitive-research,
  .case-study .user-interviews,
  .case-study .feature-prioritization,
  .case-study .initial-task-flows,
  .case-study .user-flow,
  .case-study .task,
  .case-study .app-navigation,
  .case-study .hi-fi-prototype,
  .case-study .usability-testing {
    margin-top: 20px;
  }
  
  .case-study a {
    color: #007bff;
    text-decoration: none;
  }
  
  .case-study a:hover {
    text-decoration: underline;
  }
  
  .button.prototype-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #eb5e28;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .button.prototype-button:hover {
    background-color: #bc3908;
  }
  