.projects-container {
  max-width: 45rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  align-items: center;
  padding-bottom: 150px;
}

.project-box {
  border: 1px solid #fff;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 50px;
  top: 100px;
}

.project-description {
  margin-bottom: 20px;
}

.project-buttons {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.github-button,
.demo-button {
  background:#9AAB89; 
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-left: 8px; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
}

.github-button,
.figma-button {
  background:#9AAB89; 
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-left: 8px; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
}

.github-button:hover,
.demo-button:hover,
.figma-button:hover {
  background: #819172;
}

@media (max-width: 1100px) {
  .project-box {
    top: 50px;
    width: 93%;
}
}
